@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url("assets/css/vars.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins',sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #101728;
}
.container{
    height: 100%;
    width: var(--screenActive);
}

/* PC 1 */
@media (max-width:1440px) and (min-width: 1281px) {
    :root{
        --screenActive:var(--screenWidthPc1);
    }
    .container{
        height: var(--screenHeightPc1);   
        width: var(--screenWidthPc1);
    }
}

/* PC 2 */
@media (max-width:1280px) and (min-width:1025px) {
    :root{
        --screenActive:var(--screenWidthPc2);
    }
    .container{
        width: var(--screenWidthPc2);
    }
}

/* IPAD PRO 12 */
@media (max-width:1024px) and (min-width:835px){
    :root{
        --screenActive:var(--screenWidthIpadPro12) ;
    }
    .container{
        height: var(--screenHeightIpadPro12);   
        width: var(--screenWidthIpadPro12);
    }
}

/* IPAD PRO 10 */
@media (max-width: 834px) and (min-width:769px){
    :root{
        --screenActive:var(--screenWidthIpadPro10) ;
    }
    .container{
        height: var(--screenHeightIpadPro10);   
        width: var(--screenWidthIpadPro10);
    }
}
/* IPAD MINI */
@media (max-width: 768px) and (min-width:601px){
    :root{
        --screenActive:var(--screenWidthIpadMini) ;
    }
    .container{
        height: var(--screenHeightIpadMini);   
        width: var(--screenWidthIpadMini);
    }
}
/* Nexus */
@media (max-width: 600px) and (min-width:415px){
    :root{
        --screenActive:var(--screenWidthNexus) ;
    }
    .container{
        height: var(--screenHeightNexus);   
        width: var(--screenWidthNexus);
    }
}

/* Iphone Xs Max */
@media (max-width: 414px) and (min-width:361px){
    :root{
        --screenActive:var(--screenWidthIphoneXsMax) ;
    }
    .container{
        height: var(--screenHeightIphoneXsMax);   
        width: var(--screenWidthIphoneXsMax);
    }
}

/* Note 8 */
@media (max-width: 360px) and (min-width:241px){
    :root{
        --screenActive:var(--screenWidthNote8);
    }
    .container{
        height: var(--screenHeightNote8);   
        width: var(--screenWidthNote8);
    }
}

/* Nokia */
@media (max-width: 240px) and (min-width:0px){
    :root{
        --screenActive:var(--screenWidthNokia);
    }
    .container{
        height: var(--screenHeightNokia);   
        width: var(--screenWidthNokia);
    }
}