@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url("assets/css/vars.css");

:root{
    --screenActiveSliderAnimation: - var(--screenActive);
}

.containerSlideShow{
    background-color: black;
    height: 82.079343365253%;
    width: var(--screenActive);
}
.containerSlideShow .slideshow{
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.containerSlideShow .slideshow .listSlides{
    height: 100%;
    width: calc(var(--screenActive)*3);
    /* width: calc(100%*3); */
    display: flex;
    animation: slider 10s infinite normal;
}
.containerSlideShow .slideshow .listSlides .cardSlide{
    display: flex;
    background: linear-gradient(to right,#021444d5,#43537ad5);
    width: var(--screenActive);
}
.containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide{
    width: 46.875%;
    height: 100%;
}
.containerSlideShow.active-grid .slideshow .listSlides .cardSlide .containerImageSlide .grid{
    display: grid;
}
.containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide .grid{
    width: var(--screenActive);
    height: 100%;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}
.containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide img{
    width: 100%;
    height: 100%;
}
.containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide .one{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide .two{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide .tree{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.containerSlideShow.active-grid .slideshow .listSlides .cardSlide .containerImageSlide .image{
    display: none;
}
.containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide .image{
    width: 100%;
    height: 100%;
}
.containerSlideShow .slideshow .listSlides .cardSlide .description{
    width: 53.125%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.containerSlideShow .slideshow .listSlides .cardSlide .description .title{
    color: rgba(188, 190, 196, 0.849);
    text-shadow: 1px 1px 10px black;
}
.containerSlideShow .slideshow .listSlides .cardSlide .description .parag{
    margin-top: 10px;
    color: #dfb9b9;
    text-align: justify;
    word-break: break-all;
}
.containerSlideShow .slideshow .listSlides .cardSlide .description .purchase{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.containerSlideShow .slideshow .listSlides .cardSlide .description .purchase .button{
    background: #101728;
    color: white;
    cursor: pointer;
    width: 30%;
    height: 100%;
    border-radius: 2px;
    border: none;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    transition: .8s;
}
.containerSlideShow .slideshow .listSlides .cardSlide .description .purchase .button:hover{
    color: #101728;
    background-color: white;
}
.containerSlideShow .slideshow .listSlides .cardSlide .description .purchase .risk{
    text-decoration: line-through;
}

@keyframes slider{
    0%{
        transform: translateX(calc(var(--screenActive)*0));
    }
    20%{
        transform: translateX(calc(var(--screenActive)*0));
    }
    25%{
        transform: translateX(calc(var(--screenActive)*-1));
    }
    45%{
        transform: translateX(calc(var(--screenActive)*-1));
    }
    50%{
        transform: translateX(calc(var(--screenActive)*-2));
    }
    70%{
        transform: translateX(calc(var(--screenActive)*-2));
    }
    75%{
        transform: translateX(calc(var(--screenActive)*0));
    }
}

@media (max-width: 900px) and (min-width:601px){
    .containerSlideShow{
        height: 100%;
        font-size: 0.8em;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide{
        flex-direction: column;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide{
        width: 100%;
        height: 70%;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description{
        width: 100%;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description{
        overflow: auto;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description::-webkit-scrollbar{
        width: 10px;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description::-webkit-scrollbar-track{
        background-color: rgb(97, 97, 97);
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description::-webkit-scrollbar-thumb{
        background-color: rgb(41, 41, 41);
        border-radius: 20px; 
        border: none;
    }
}

@media (max-width: 600px) and (min-width:280px){
    .containerSlideShow{
        height: 100%;
        font-size: 0.8em;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide{
        flex-direction: column;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .containerImageSlide{
        width: 100%;
        height: 60%;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description{
        width: 100%;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description{
        overflow: auto;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description::-webkit-scrollbar{
        width: 10px;
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description::-webkit-scrollbar-track{
        background-color: rgb(97, 97, 97);
    }
    .containerSlideShow .slideshow .listSlides .cardSlide .description::-webkit-scrollbar-thumb{
        background-color: rgb(41, 41, 41);
        border-radius: 20px;     
        border: none;
    }
}